body{background-color:white;}

h4{  color: red; }
h2{  color: red;}
h3{  color: red;}

.logo{ 
    width:100%;
    float:left;

}

p{font-size:150%}

a{color:red;}

.name{ float:left; width:50%; }
.logo{
    float:left;
    width:50% ;
    background-color: white;

}
.image{
    float: left;
    border-radius: 10%;
    border-style:none;
    border-color:none;

}

div{
    background-color:beige;
    border-radius:5%;
    
}
video{
    border-radius: 50%;
}
footer{
    background-color:red;
}


ul{
    color:white;list-style-type:none;
    /* float:right; */
     text-align: center;
     background-color:red;
     
    }


.n{
    font-size:150%;
    padding:20px;
    
}
.o{
    font-size:150%;
    padding:20px;
    
}
.b{font-size:150%;
    padding:20px;
    
}
.s{font-size:150%;
    padding:20px;
    

}

.g{font-size:150%;
    padding:50px;
    text-align:left;
    margin-right:300px;
}

.ch{
    color:gold;
}
li{
    display: inline; 
    /* float:right; */
    
}
.h{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

img{
    border-radius: 10%;
    border-style:ridge;
    border-color: red;
}

a:hover{
    color:blue;
}

.whatsapp{
    border-style: none;
}